$primary_bg: #16386B;
$primary_bg_transparent:  #16386b8d;
$secondary_bg: #6296e3a0;
$btn_colour: #ffad0a;
$btn_hov_colour: #ffc44d;
$primary_text_color: white;
$secondary_text_color: aliceblue;
$cta_bg: white;
$btn_text: black;
$okay: darken(aliceblue, 15);
$dabbled : darken($okay, 20)