$primary_bg: #245aac;
$primary_bg_transparent: #1a417b73;
$secondary_bg: #4D94FF;
$btn_colour: #ffad0a;
$btn_hov_colour: #ffc44d;
$primary_text_color: white;
$secondary_text_color: aliceblue;
$cta_bg: white;
$btn_text: black;
$okay: darken(aliceblue, 15);
$dabbled : darken($okay, 20)